<div class="calculator" 
     on-swipe="vm.triggerAbacus($event)"
     on-tap="vm.triggerAbacus($event)">
    		<div></div>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
    		<span class="abacus {{vm.color}}"></span>
</div>