<div class="calculator" 
     on-swipe="vm.triggerAbacus($event)"
     on-tap="vm.triggerAbacus($event)">
    		<div></div>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
    		<span class="abacus" 
                  style="background-color: {{vm.color}}">
            </span>
</div>
<p class="calc-indicator" style="color: {{vm.color}}">
    {{vm.abacusActive}}kg
</p>