<ion-view view-title="Kalkulator">
<!--     <ion-nav-buttons side="left" class="back-button-cont">
        	<img src="images/back.png" 
        		class="back-button-trigger back-button-image" 	
        		ng-click="$ionicGoBack($event)">
    </ion-nav-buttons> -->

<ion-content class="bg-style-second">
<div class="sub-container">
	<!--
		Menu Section
	-->
	<div class="menu-container">
		<div class="title-star">
			<img ng-src="images/starblue.png" alt="">
			<span>Izaberite lijek</span>
		</div>
		<button class="red-normal button button-full button-positive">
		NEOFEN<span>®</span> Sirup
		</button>
		<button class="red-normal button button-full button-positive">
		NEOFEN<span>®</span> cepici 60 mg
		</button>
		<button class="red-strong button button-full button-positive">
		NEOFEN<span>®</span> cepici 125 mg
		</button>
		<button class="blue-light button button-full button-positive">
		LUPOCET<span>®</span> sirup
		</button>
		<button class="blue-strong button button-full button-positive">
		LUPOCET<span>®</span> cepici
		</button>
	</div>
	<!--
		Calculator Section
	-->
	<div class="abacus-placeholder">
		<div class="abacus-container abacus-date">
			<p>Dob</p>
			<div abacus abacusColor="abacus-red"></div>
			<div abacus abacusColor="abacus-green"></div>
		</div>
		<div class="abacus-container abacus-weight">
			<p>Tezina</p>
			<div abacus abacusColor="abacus-orange"></div>
			<div abacus abacusColor="abacus-orange-light"></div>
			<div abacus abacusColor="abacus-yelow"></div>
			<div abacus abacusColor="abacus-yelow-lite"></div>
		</div>
	</div>
	<!--
		Calculator Result
	-->
	<div class="calculator-result card">
		<img src="" alt="">
		<img src="" alt="">
		<p>Test</p>
		<p>Test</p>
	</div>
	<!--
		Disclaimer
	-->
	<p class="disclaimer">Preporučena shema doziranja NEOFEN sirupa u djece od 3 mjeseca do 12 godina (>5,0 - 43,0 kg tjelesne težine).
	* Ne preporuča se primjena NEOFEN sirupa i čepića u djece mlađe od 3 mjeseca, odnosno tjelesne mase manje od 5kg.</p>

</div>
</ion-content>
</ion-view>