<ion-view view-title="Kalkulator">
	<ion-nav-buttons side="left" class="back-button-cont">
		<img src="images/back.png"
		class="back-button-trigger back-button-image"
		on-tap="$ionicGoBack()">
	</ion-nav-buttons>
<ion-content class="bg-style-second calculator-view">
<div class="sub-container">
	<!--
		Menu Section
	-->
	<div class="menu-container">
		<div class="title-star">
			<img ng-src="images/starblue.png" alt="">
			<span>Izaberite lijek</span>
		</div>
		<ion-radio class="red-normal menu-radio"
				on-tap="calculator.selectRule('neofen60cepici')"
				ng-value="neofen60cepici"
				ng-model="neofen60cepici">
		NEOFEN<span>®</span> cepici 60 mg
		</ion-radio>
		<ion-radio class="red-strong menu-radio"
				on-tap="calculator.selectRule('neofen125cepici')">
		NEOFEN<span>®</span> cepici 125 mg
		</ion-radio>
		<ion-radio class="blue-light menu-radio"
				on-tap="calculator.selectRule('lupocet120sirup')"
				ng-value="lupocet120sirup">
		LUPOCET<span>®</span> sirup
		</ion-radio>
		<ion-radio class="blue-strong menu-radio"
				on-tap="calculator.selectRule('lupocet120cepici')"
				ng-value="lupocet120cepici">
		LUPOCET<span>®</span> cepici
		</ion-radio>
	</div>
	<!--
		Calculator Section
	-->
	<!--<div class="abacus-placeholder">
		<div class="abacus-container abacus-weight"
			 on-touch="calculator.disableScroll($event)"
			 on-swipe="calculator.disableScroll($event)"
			 on-release="calculator.enableScroll($event)">
			<p>Težina</p>
			<div abacus abacusColor="#F28F00"></div>
			<div abacus abacusColor="rgb(248, 177, 67)"></div>
			<div abacus abacusColor="rgb(246, 224, 65)"></div>
			<div abacus abacusColor="rgb(226, 218, 47)"></div>
		</div>
		<div class="sum">Ukupno: <span>{{calculator.calculationResult}}kg</span></div>
	</div>-->

	<div class="list">
		<div class="item">
			<span>Težina</span>
			<span>&#931; {{calculator.calculatorRange}} kg</span>
		</div>
		<div class="item range range-positive">
			<!--<i class="icon ion-ios-sunny-outline"></i>-->
			<input type="range" name="volume" min="{{calculator.min}}" max="{{calculator.max}}" value="0" step="{{calculator.step}}" ng-model="calculator.calculatorRange">
		</div>
		<div class="item ruler-container">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="item">
			<p>{{calculator.min || 'Masa novorođenčeta u'}} kg</p>
			<p>{{calculator.max}} kg</p>
		</div>
		<div class="item">
		 <button class="button button-block button-assertive calculate" on-tap="calculator.triggerRule()">
			<i class="icon ion-android-done"></i>
  			Izračunaj
		 </button>
		</div>
	</div>

	<!--<div class="calculator-button">
		<button on-tap="calculator.triggerRule()"></button>
	</div>-->
	<!--
		Calculator Result
	-->
	<div class="calculator-result card" ng-hide="!calculator.resultData">
		<div class="row">
			<div class="col">
				<img src="{{calculator.selectedImage.main}}" class="main-image-{{calculator.selectedImage.classExt}}">
			</div>
			<div class="col" style="flex: 0 0 45%;
  max-width: 45%;">
				<img src="{{calculator.selectedImage.sub}}" class="sub-image-{{calculator.selectedImage.classExt}}">
				<p style="padding-top: 10%;">{{calculator.resultData.measure}}</p>
				<p>{{calculator.resultData.daily}}</p>
			</div>
		</div>
	</div>
	<!--
		Disclaimer
	-->
	<p class="disclaimer">Prije upotrebe pazljivo procitati uputu o lijeku. Za obavijesti o indikacijama, mjerama opreza i nuspojavama upitajte svog doktora ili farmaceuta. Više detalja o proizvodu u SMPC.</p>

</div>
</ion-content>
</ion-view>
