<ion-view view-title="Unos">
	<ion-nav-buttons side="left" class="back-button-cont">
		<img src="images/back.png" class="back-button-trigger back-button-image" on-tap="$ionicGoBack()">
	</ion-nav-buttons>
	<ion-nav-buttons side="right" class="back-button-cont">
		<img src="images/archiv.png" class="back-button-trigger button-archiv-nav" on-tap="vm.navigate('calendarArchiv')">
	</ion-nav-buttons>
	<ion-content class="calendar" scrollbar-x="false">
		<div class="content">
		<div class="header-info" ng-if="vm.showHeader">
			<div class="remeinder-title">
				<label class="item item-input">
    				<input type="text" placeholder="Podsjeti me ...*" ng-model="vm.calendarData.title">
  				</label>
			</div>
			<div class="dates">
				<div class="list">
					<label class="item item-input calendar-label">
						<i class="icon ion-calendar"></i>
						<input type="text"
							class="calendar-picker"
							pick-a-date="vm.calendarData.date"
							pick-a-date-options="vm.options"
							placeholder="{{vm.calendarData.isMedicineCategory ? 'Datum od*' : 'Datum*'}}"/>
					</label>
					<label class="item item-input calendar-label" ng-show="vm.calendarData.isMedicineCategory">
					<i class="icon ion-android-calendar"></i>
						<input type="text"
							class="calendar-picker"
							pick-a-date="vm.calendarData.dateTo"
							pick-a-date-options="vm.options"
							placeholder="Datum do*"/>
					</label>
					<label class="item item-input calendar-label">
						<i class="icon ion-clock"></i>
						<input type="text"
							class="calendar-picker"
							pick-a-time="vm.calendarData.time"
							placeholder="{{vm.calendarData.isMedicineCategory? 'Vrijeme prve tablete*' : 'Vrijeme*'}}"
							pick-a-time-options="{format: 'HH:i'}"/>
					</label>
					<label class="item item-input item-select calendar-label" ng-show="vm.calendarData.isMedicineCategory">
						<i class="icon ion-ios-calculator"></i>
						<select ng-model="vm.calendarData.repeat">
					      <option value="" disabled selected>Tablete po danu*</option>
					      <option value="1">x1</option>
					      <option value="2">x2</option>
					      <option value="3">x3</option>
					      <option value="4">x4</option>
					    </select>
					</label>
					<label class="item item-input calendar-label">
						<i class="icon ion-android-alarm-clock"></i>
						<div class="row">
							<div class="col">
								<ion-radio class="calendar-options calendar-alarm"
								icon="null" ng-model="vm.calendarData.alarm"
								ng-value="15"
								> 15 min</ion-radio>
							</div>
							<div class="col">
								<ion-radio class="calendar-options calendar-alarm"
								icon="null" ng-model="vm.calendarData.alarm"
								ng-value="30"
								> 30 min</ion-radio>
							</div>
							<div class="col">
								<ion-radio class="calendar-options calendar-alarm"
								icon="null" ng-model="vm.calendarData.alarm"
								ng-value="60"
								> 60 min</ion-radio>
							</div>
						</div>
					</label>
				</div>
			</div>
			</div>
			<!-- <p class="calendar-title">Kategorija</p> -->
			<div class="list">
				<ion-radio class="calendar-options"
				on-tap="vm.chooseCategory('Pregled kod doktora')" name="catrgory">
					<i class="category-icon icon ion-ios-search-strong"></i>Pregled kod doktora
				</ion-radio>
				<ion-radio class="calendar-options" on-tap="vm.chooseCategory('Vakcina')" name="catrgory">
					<i class="category-icon icon ion-android-create"></i>Vakcina
				</ion-radio>
				<ion-radio class="calendar-options" on-tap="vm.chooseCategory('Lijekovi')"
				name="catrgory">
					<i class="category-icon icon ion-ios-medkit-outline"></i>Lijekovi
				</ion-radio>
				<ion-radio class="calendar-options" on-tap="vm.chooseCategory('Nalazi')"
				name="catrgory">
					<i class="category-icon icon ion-erlenmeyer-flask"></i>Nalazi
				</ion-radio>
				<ion-radio class="calendar-options" on-tap="vm.chooseCategory('Ostalo')" style="margin-bottom:0;"
				name="catrgory">
					<i class="category-icon icon ion-clipboard"></i>Ostalo
				</ion-radio>
			</div>
			<button class="button button-block button-positive calendar-button" on-tap="vm.submitDate()">
 			 	Spasi
			</button>
			</div>
	</ion-content>
</ion-view>
