<ion-view hide-nav-bar="true">
<ion-content class="bg-style-main home">

<!-- 
    Home Menu Section
 -->
<div class="row-container">
<div class="row">
	<div class="col home-menu">
		<a class="button">
			<img src="images/alarm.png" alt="">
		</a>
	</div>
	<div class="col my-picture">
		<a href="">
			<img src="images/sun.png" alt="">
		</a>
	</div>
	<div class="col">
	</div>
</div>
<div class="row">
	<div class="col home-menu">
		<a href="" class="button">
			<img src="images/tosamja.png" alt="">
		</a>
	</div>
	<div class="col">
	</div>
	<div class="col">
	</div>
</div>
<div class="row">
	<div class="col home-menu">
		<a href="" class="button">
			<img src="images/toradimsam.png" alt="">
		</a>
	</div>
	<div class="col home-menu">
		<a href="" class="button">
			<img src="images/savjeti.png" alt="">
		</a>
	</div>
	<div class="col home-menu">
		<a ui-sref="tab.dash" class="button">
			<img src="images/proizvodi.png" alt="">
		</a>
	</div>
</div>
<div class="row" style="padding-bottom: 56px;">
	<div class="col home-menu">
		<a ui-sref="tab.chats" class="button">
			<img src="images/omeni.png" alt="">
		</a>
	</div>
	<div class="col home-menu">
		<a ng-click="home.navigate('calculator')" class="button">
			<img src="images/calculator.png" alt="">
		</a>
	</div>
	<div class="col home-menu">
		<a href="" class="button">
			<img src="images/zabava.png" alt="">
		</a>
	</div>
</div>

<!-- 
	Footer
 -->
<!-- <div class="row row-footer">
 	<div class="col-25 col-bottom">
<button class="smpc">SMPC</button>
</div>
 	<div class="col col-bottom" style="
    padding: 0;
">
<button class="neofen-logo"></button>
</div>
 </div> -->
<div class="row-footer">
	<button class="smpc">
		SMPC
	</button>
	<div class="logo-col">
		<img src="images/logo.png" alt="" class="logo">
	</div>
</div>
</div>
</ion-content>
</ion-view>