<ion-view view-title="Proizvodi">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style-products products">
<p class="title">
	Ovdje možete pronaći sve<br/>
	potrebne informacije<br/>
	vezane za proizvode i njihovo korištenje.
</p>
<div star-button 
	 text="PROIZVODI"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 color="rgb(215,0,9)"></div>
<div star-button 
	 text="DOZIRANJE"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 color="rgb(215,0,9)"></div>
</ion-content>
</ion-view>