<ion-view view-title="Ja napredujem">
<ion-nav-buttons side="left" class="back-button-cont">
	<img src="images/back.png"
	class="back-button-trigger back-button-image"
	on-tap="$ionicGoBack()">
</ion-nav-buttons>
	<ion-nav-buttons side="right"> 
		 <button class="button delete-button button-icon icon ion-ios-minus-outline"
          ng-click="vm.showDelete = !vm.showDelete;"></button>
   </ion-nav-buttons>
<ion-content class="padding bg-style bg-style-aboutme my-first about-me">
		<ion-list show-delete="vm.showDelete">
			<ion-item collection-repeat="item in vm.data track by $index" 
					item-height="10%" 
					class="edit-collection item-remove-animate item item-complex item-left-editable item-right-editable">
				<ion-delete-button class="ion-minus-circled" 
								on-tap="vm.deleteItem(item);"
								stop-event="click">
				</ion-delete-button>
				<div class="play-list"
					arrow-button 
					text="{{item.date | date:'dd - MMMM - yyyy'}}"
					imgurl="images/arrowred.png"
					on-tap="vm.edit(item)">
				</div>
			</ion-item>
		</ion-list>
</ion-content>
	    <div class="bar bar-footer about-me-footer">
  			<button class="button button-full button-positive" on-tap="vm.add()">Novi unos</button>
		</div>
</ion-view>
