<ion-view view-title="Proizvodi">
<ion-nav-buttons side="left" class="back-button-cont">
	<img src="images/back.png"
	class="back-button-trigger back-button-image"
	on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-nav-buttons side="right" class="back-button-cont">
	<button class="button zoom-in-text" on-tap="info.manipulateFontSize(10, '%', false)">
		<img src="images/minus.png"
		class="">
	</button>
	<button class="button zoom-out-text" on-tap="info.manipulateFontSize(10, '%', true)">
	    <img src="images/plus.png"
	     class="">
	</button>
</ion-nav-buttons>
<ion-content class="padding bg-style bg-style-info products-details info-details">
<div class="details-container" >
	<div star-button
		text={{info.data.title}}
		bordercolor="rgb(142,196,6)"
	 	imgurl="images/starquestion.png"
		color="#124f2d"
		class="product-details-title info-title"
		contentclass = "rotate-header info-button"
	></div>
	<img ng-src="images/puz.png" 
		 class="snail-image"
		 ng-class="{'snail-image-no-position': info.key === 'fizikalneMjere' || info.key === 'visokaTemperatura' || info.key === 'izmjeritiTemperaturu'}">
	<div ng-switch on="info.key" ng-style="info.textSize">
	<div ng-switch-when="povisenaTemperatura">
		<pre>
Povišena tjelesna temperatura (vručica) u dječjoj je dobi vrlo čest simptom i najčešći razlog odlaska ljekaru.
To je stanje organizma u kojem se centar za temperaturu u srednjem dijelu mozga (hipotalamus) namjesti na temperaturu višu od uobičajene, zbog poremećaja termoregulacije, nerazmjera između povećanog stvaranja tjelesne temperature i njezina smanjenog otpuštanja. Povišena tjelesna temperatura je najčešće znak neke bolesti (zarazne bolesti, upalni procesi, bolesti imunog sistema), a rjeđe nekog ozbiljnog poremećaja zbog utjecaja vanjskih faktora (npr. sunčanica, toplinski udar).
Povišenu tjelesnu temperaturu organizam nastoji sniziti pojačanim znojenjem, nevidljivim isparavanjem i širenjem površinskih krvnih žila.
Povišena tjelesna temperatura je simptom koji je moguće jednostavno objektivizirati. Pod povišenom tjelesnom temperaturom podrazumijevamo rast temperature iznad normalnih dnevnih vrijednosti rektalno (u guzi) 
izmjereno > 38°C, pod pazuhom > 37,5°C, u uhu > 38°C.
</pre>
<ul>
	<li>
		Normalna temperatura djeteta mjerena pod pazuhom je do 37°C, a normalna temperatura mjerena rektalno (u guzi) je do 37,5°C.
	</li>
	<li>
		Povišena temperatura u djeteta mjerena pod pazuhom je viša od 37,5°C, a mjerena rektalno (u guzi) viša od 38°C.
	</li>
	<li>
		Temperatura viša od 38,5°C mjerena pod pazuhom, odnosno 39°C mjerena rektalno
		(u guzi) je vrlo visoka.
	</li>
</ul>
</div>

<pre ng-switch-when="najBolesti">
Povišena tjelesna temperatura znak je da je dijete bolesno, jer je porast temperature reakcija organizma na viruse ili bakterije, uzročnike zaraznih (infektivnih) bolesti. Hemijski spojevi koji se oslobađaju tokom takve reakcije djeluju na centar za termoregulaciju i na porast tjelesne temperature. Povišena tjelesna temperatura (vrućica) u djece ima različito dugo trajanje. Kod akutnih bolesti traje kraće, a pri kroničnim i subakutnim bolestima du`e ili dugo.

U pedijatrijskoj populaciji se radi najčešće o tzv. kratkotrajnim febrilnim bolestima u kojih febrilitet (vrućica) traje do 7 dana (nekomplicirana gripa, angina, enteroviroze i sl.). Pred kraj zaraznih (infektivnih) bolesti temperature naglo padaju, pa se javlja naglo znojenje.Djeca zbog intenzivnijeg metabolizma za vrijeme akutnih infektivnih bolesti imaju uglavnom više temperature nego odrasli.

Prolazno i nekomplicirano febrilno stanje-vrućicu kod djece treba shvatiti kao dio prirodnog obrambenog mehanizma odbrane protiv uzročnika infekcije. Akutne infekcije gornjih disajnih puteva najčešće su bolesti koje se javljaju u djece. Više od 50 posto djece dolazi u posjet ljekaru zbog akutnih respiratornih infekcija. Tokom prvih pet godina svoga života djeca godišnje prebole u prosjeku od šest do devet akutnih infekcija disajnih organa.

Upala uha, rast zubića, obična prehlada ili gripa, urinarna infekcija ili crijevna viroza su samo neka stanja koja kod djece dovode do porasta tjelesne temperature iznad normalnih vrijednosti. Povišena tjelesna temperatura se može javiti i u drugim situacijama koje nisu direktno povezane s infekcijom poput reakcije na cjepivo ili kod manjka tekućine u organizmu (dehidracija).
</pre>
<div ng-switch-when="izmjeritiTemperaturu">
<pre>
Povišenje tjelesne temperature roditelj ili okolina može prepoznati procjenom da je koža djeteta toplija nego inače, no najčešće greške roditelji ili okolina čine ukoliko dodirom određuju ima li dijete povišenu temperaturu ili nema. Svakom bolesnom djetetu treba izmjeriti temperaturu.
Mjerenje povišene tjelesne temperature kod djece provodi se digitalnim ili živinim toplomjerom ili infracrvenim toplomjerom koji se stavlja u uho u vanjski zvukovod.
Rektalno mjerenje (u guzi) temperature smatra se “zlatnim standardom” kod novorođenčadi i dojenčadi. To mjerenje najbolje je primjeniti tako da se uži dio toplomjera uvodi u zadnje crijevo (rektum). Treba znati da je vrijednost izmjerene temperature u guzi do 0,5°C viša od one izmjerene ispod pazuha. Kod veće djece temperatura se mjeri pod pazuhom (prethodno je potrebno osušiti područje ispod pazuha) ili u uhu.
</pre>
<p class="sub-info-title">
	Preporučeno trajanje mjerenja temperature s obzirom na mjesto mjerenja i vrstu toplomjera je sljedeće:
</p>
<ul style="padding-left: 29px;">
	<li>pod pazuhom: živin toplomjer – 5 min. <br/>digitalni toplomjer – 2 min.</li>
	<li>u uhu (manje točni i pouzdani rezultati): <br/>infracrveni toplomjer – 2 sek.</li>
	<li>rektalno – “zlatni standard” za novorođenčad
	i dojenčad:digitalni toplomjer – 2 min. <br/> živin toplomjer – 3 do min.</li>
</ul>
</div>
<div ng-switch-when="visokaTemperatura">
	<pre>
Ako je dijete febrilno - ima povišenu temperaturu - dajte mu antipiretik (lijek za snižavanje povišene tjelesne temperature) i potom ga odvedite ljekaru.
Primjena lijekova za snižavanje povišene tjelesne temperature (antipiretika) značajno smanjuje nemir, razdražljivost, dugotrajan plač, nelagodu i nemiran san u djeteta, pa se njihova primjena preporučuje i u cilju otklanjanja nelagode u djece s vrućicom.
Kada dijete ima povišenu tjelesnu temperaturu, važno je redovno i pažljivo ga pratiti jer je potreban poseban oprez budući da se bolest kod novorođenčadi, dojenčadi i male djece može razviti i napredovati u nekoliko sati. Pratite njegovu temperaturu, disanje, izgled i boju kože, stanje svijesti, prisutnost bolova. Ukoliko primjetite nešto neobično ili zabrinjavajuće, ili ako vam se učini da postoji i najmanja sumnja da je možda riječ o stanju ili bolesti koje mogu dovesti do ozbiljnih zdravstvenih komplikacija, odmah odvedite dijete ljekaru!
</pre>
<p class="sub-info-title">Dijete s povišenom tjelesnom temperaturom trebate odmah odvesti na ljekaru–pedijatru ako:</p>
	<ul>
		<li>je mlađe od tri mjeseca</li>
		<li>je temperatura viša od 40°C</li>
		<li>je vrat ukočen</li>
		<li>ima osip</li>
		<li>ima napadaj konvulzija</li>
		<li>ima jaku glavobolju i povraćanje koje ne prestaje</li>
		<li>otežano diše</li>
		<li>otežano guta ili jako slini</li>
		<li>neutješno plače</li>
		<li>je osjetljivo na dodir</li>
		<li>je neobično pospano ili se ne može probuditi</li>
		<li>se doima “jako bolesnim”</li>
		<li>vrućica traje duže od tri dana.</li>
	</ul>
</div>
<pre ng-switch-when="snizitiTemperaturu">
Mjerite temperaturu bolesnom djetetu i prema tome prilagodite postupke. Ovisno o visini temperature, snižavajte je lijekovima i fizikalnim mjerama:

Temperaturu do 38°C mjereno pod pazuhom, odnosno 38,5°C (u guzi) u pravilu nije potrebno snižavati, osim ako dijete nije jako razdražljivo. Dijete treba posmatrati i mjeriti mu temperaturu svakih pola sata da se uoči mogući rast temperature.

U djece mlađe od tri godine potrebno je snižavati i temperaturu višu od 38°C (u guzi) jer se zbog nezrelosti nervnog sistema i naslijeđa mogu razviti grčevi u temperaturi (febrilne konvulzije).

Za snižavanje povišene tjelesne temperature u djece
se najčešće se primjenjuju paracetamol i ibuprofen, bez značajnih rizika i nuspojava. Paracetamol je lijek koji je prema preporukama struke prvi izbor u snižavanju povišene tjelesne temperature. Roditelji češće griješe u doziranju paracetamola, jer ne primjenjuju dovoljne doze lijeka u odnosu na dob i tjelesnu težinu djeteta ili ga ne daju u pravilnim vremenskim razmacima. Zbog navedenog razloga važno je primjeniti odgovarajuću dozu lijeka i pravi oblik lijeka te ga dati u preporučenom vremenskom razmaku kakobi lijek bio učinkovit. Ibuprofen se primjenjuje kod vrlo visoke temperature ili kod temperature koja ne reaguje na paracetamol. Kod dojenčadi i male djece najčešće se primjenjuju čepići, a kod starije djece sirup.

Djetetu koje povraća, a ima povišenu temperaturu treba dati lijek za snižavanje povišene tjelesne temperature
– antipiretik u obliku čepića te dovoljno tekućine kako ne bi dehidriralo. Djetetu koje ima povišenu tjelesnu temperaturu i proljev, potrebno je dati dati lijek za snižavanje povišene tjelesne temperature – antipiretik na usta u obliku sirupa, a izbjeći davanje čepića djeci s proljevom.
</pre>
<div ng-switch-when="fizikalneMjere">
	<pre>
Kada dijete ima povišenu temperaturu kao potpora lijekovima za snižavanje povišene tjelesne temperature mogu se primjeniti i fizikalne mjere snižavanja povišene tjelesne temperature na način da se prvo djetetu da lijek za snižavanje povišene tjelesne temperature, a 30-tak minuta nakon davanja lijeka primjene se fi zikalne metode. Učinak fizikalnih metoda na tjelesnu temperaturu je ograničen i prolazan i zato se savjetuje prije njihove primjene dati djetetu anitipiretik (lijek za snižavanje povišene tjelesne temperature).

Fizikalne metode su:
• vlaženje kože mlakom vodom
• zamatanje djeteta u vlažni ručnik

Mlake kupke, uranjanje djeteta u kadu ili tuširanje djeteta se često savjetuju, ali nisu postupak koji treba samostalno primjenjivati jer kod povišenja tjelesne temperature najprije treba dati lijek kako bi temperatura spustila, a nakon toga provoditi ove postupke kako se febrilno dijete ne bi izvrglo prevelikoj nelagodi uranjanjem u vodu. Za dijete koje može sjediti primjerenije je vlaženje kože mlakom vodom u kadi ili tuširanje ( bez tuširanja glave), a za dojenče oblozi. Postupak se može ponoviti više puta na dan, ovisno o reakcijama djetetana primjenjene metode.</pre>
<p class="sub-info-title">VLAŽENJE KOŽE MLAKOM VODOM</p>
<ul>
	<li>Razodjeveno dijete posjesti u kadu s 8-10 cm vode</li> 
	<li>
		Temperatura vode oko 32-33°C
	</li>
	<li>Nježno vlažiti kožu spužvicom svake 2-3 minute -</li>
</ul>
<p class="sub-info-title">NE VLAŽITI lice i glavu</p>
<ul>
	<li>Vlaženje kože provoditi 20-tak minuta</li>
	<li>Kontrolisati temperaturu svakih 15 minuta</li>
	<li>Ponavljati postupak dok temperatura ne padne na barem 38°C rektalno</li>
</ul>
<p class="sub-info-title">ZAMATANJE DJETETA U VLAŽNI RUČNIK</p>
<ul>
	<li>Zamotati dijete u vlažni ručnik ili pelenu sobne temperature (ne zamatati lice i glavu)</li>
	<li>Preko toga omotati suhi ručnik ili plahtu</li>
	<li>Držati dijete zamotano 5-10 minuta - ne stavljati obloge na pojedine dijelove tijela (dlanove, tabane, prsa)</li>
	<li>Nakon toga dijete obrisati suhim ručnikom</li>
	<li>Kontrolirati temperaturu svakih 15 minuta</li>
	<li>Ponavljati postupak dok temperatura ne padne na
barem 38°C rektalno</li>
</ul>
<p class="sub-info-title" style="padding: 0 10px 10px 10px;">Nikako ne stavljajte bilo kakve druge obloge, pogotovo ne obloge od alkohola (npr. rakija) zbog mogućnosti ozbiljnih nuspojava koje mogu biti i po život opasne
za dijete!</p>
</div>
<pre ng-switch-when="bolKodDjece">
Bol u djece predstavlja važan javno zdravstveni problem. Mlađa djece imaju ograničenu mogućnost iskazivanja bolnih senzacija te govorom ne mogu izraziti da li ih nešto boli i gdje ih boli. Dokazano je da već i fetus pokazuje sposobnosti odgovora na bolne podražaje. Novorođenčad također ima sposobnost pamćenja boli, pa su novorođenčad koja su bila izložena bolnim zahvatima, kasnije su u životu pokazivala intenzivniji odgovor na bol. Kasnija bolna iskustva ovisna su o doživljaju boli u novorođenačkoj dobi . Postoje i individualne razlike u poimanju boli, na što znatno utječe porodi~no okruženje i kulturna sredina u kojoj dijete raste i razvija se.

Kako djeca mlađa od tri godine, a posebno n ovorođenčad i dojenčad ne mogu govorom izraziti bolne senzacije koje osjećaju, i stoga su u svemu ovisna o osobi koja je njeguje, to treba imati na umu kako se bol kod djece ne bi zanemarivala. Bolest kod djece može uzrokovati i različita bolna stanja. Najčešće su to uhobolja, sinusobolja, grlobolja, glavobolja, bolovi u mišićima, zglobovima i sl.

Posebno treba obratiti pažnju da djeca mogu patiti i
od bolova tokom rasta zubića, bolova koji se mogu javiti nakon cijepljenja na mjestu davanja cjepiva, bolove uzrokovane ozljedama poput uganuća, iščašenja, prijeloma, bolove nakon operativnih zahvata i druge različite blage i umjerene bolove kod djece, koje treba prepoznati i adekvatno ih ublažiti. Podrška u porodici, od roditelja ili drugih osoba koja njeguju djecu značajno može smanjiti osjećaj boli, a suprotno tome zanemarivanje boli i samog djeteta u njegovoj bolesti značajno pojačava bolno stanje i osjećaj boli.
</pre>
<pre ng-switch-when="ublazavanjeBola">
Za liječenje boli u djece koriste se lijekovi protiv bolova (analgetici).Najjednostavniji način primjene lijeka je na usta u obliku sirupa ili tableta. Lijek se može primijeniti i rektalno (u debelo crijevo - guzu) ako se radi o bolovima kod manje djece, jer je rektalni put za stariju djecu povezan s nelagodom. 

Analgetski učinak ibuprofena je jači od paracetamola te se u bolnim stanjima kao lijek izbora preporučuje se ibuprofen. Paracetamol (Lupocet) i ibuprofen (Neofen) su lijekovi koji se koriste za uklanjanje boli kod djece. Potpuno novo na BiH tržištu jesu oblici NEOFEN®a (ibuprofen), čepići od 60 mg i 125 mg.

Koriste za snižavanje povišene tjelesne temperature, ublažavanje bolova i povišene tjelesne temperature kod gripe i prehlade, te ublažavanje blagih do umjereno jakih bolova poput boli pri nicanju zubi, zubobolje, glavobolje, uganuća, istegnuća, kao i ublažavanje grlobolje i uhobolje.

Ovo je jedini i buprofen u obliku čepića na BiH tržištu koji mogu primjenjivati djeca već od 6 kg tjelesne mase.
</pre>
	</div>
</div>
</ion-content>
</ion-view>