<ion-view view-title="Korisni savjeti" class="products-list">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style bg-style-info-main products">
<div star-button
	 text="Šta je povišena temperatura"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 style="padding-top: 15%;"
	 on-tap="info.navigate('info-details', 'povisenaTemperatura')"
	 ></div>
<div star-button
	 text="Najčešće bolesti kod djece"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'najBolesti')"
	 ></div>
<div star-button
	 text="Kako pravilno izmjeriti temperaturu"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'izmjeritiTemperaturu')"
	 ></div>
<div star-button
	 text="Šta učiniti kod visoke temperature"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'visokaTemperatura')"
	 ></div>
<div star-button
	 text="Kako sniziti visoku temperaturu"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'snizitiTemperaturu')"
	 ></div>
<div star-button
	 text="Fizikalne mjere snižavanja temperature"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'fizikalneMjere')"
	 ></div>
<div star-button
	 text="Bol kod djece"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 on-tap="info.navigate('info-details', 'bolKodDjece')"
	 ></div>
<div star-button
	 text="Ublažavanje bola kod djece"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 style="padding-bottom: 10%;"
	 on-tap="info.navigate('info-details', 'ublazavanjeBola')"
	 ></div>
</ion-content>
</ion-view>
