<ion-view view-title="Zabava" class="products-list">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style bg-style-info-main">
<div star-button 
	 text="Šta je povišena temperatura"
	 bordercolor="rgb(142,196,6)"
	 imgurl="images/starquestion.png"
	 color="#124f2d"
	 class="product-menu-item"
	 contentclass = "info-button"
	 style="padding-top: 15%;"
	 on-tap="vm.play('http://www.stephaniequinn.com/Music/Commercial%20DEMO%20-%2013.mp3')"
	 ></div>
</ion-content>
</ion-view>