<ion-view view-title="Upustvo za upotrebu" class="products-list">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style-second products">
<!--<div star-button 
	 text="NEOFEN"
	 subtext="sirup 100 mg/5 ml"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 subimgurl="images/neofens.png"
	 color="rgb(215,0,9)"
	 class="product-menu-item"
	 contentclass = "list-button sirup-img"
	 style="padding-top: 15%;"
	 on-tap="smpc.navigate('smpc-details', 'neofensirup')"
	 ></div>-->
<div star-button 
	 text="NEOFEN"
	 subtext="cepici 60 mg"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 subimgurl="images/cepici.png"
	 color="rgb(215,0,9)"
	 contentclass = "list-button"
	 class="product-menu-item"
	 style="padding-top: 15%;"
	 on-tap="smpc.navigate('smpc-details', 'neofencepici60')"></div>
<div star-button 
	 text="NEOFEN"
	 subtext="cepici 125 mg"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 subimgurl="images/cepici125.png"
	 color="rgb(215,0,9)"
	 contentclass = "list-button"
	 class="product-menu-item",
	 on-tap="smpc.navigate('smpc-details', 'neofencepici125')"
	 ></div>
<div star-button 
	 text="LUPOCET"
	 subtext="sirup"
	 subimgurl="images/lupocet.png"
	 contentclass = "list-button sirup-img"
	 class="product-menu-item",
	 on-tap="smpc.navigate('smpc-details', 'lupocetsirup')"
	 ></div>
<div star-button 
	 text="LUPOCET"
	 subtext="cepici"
	 subimgurl="images/lupocetc.png"
	 contentclass = "list-button"
	 class="product-menu-item",
	 on-tap="smpc.navigate('smpc-details', 'lupocetcepici')"
	 ></div>
</ion-content>
</ion-view>