<ion-view view-title="Zabava" class="products-list">
	<ion-nav-buttons side="left" class="back-button-cont">
		<img src="images/back.png" class="back-button-trigger back-button-image" on-tap="$ionicGoBack()">
	</ion-nav-buttons>
	<ion-content class="music bg-style bg-style-music">
         <div class="header">
			 Drage mame, sakupili smo za vas i vasu bebu nekoliko pjesmica koje možete zajedno pjevati i slušati...
		 </div>
		 <div class="play-list" 
			  arrow-button 
			  text="Zeko i potočić"
			  imgurl="images/arrowred.png"
              secondimageclass="ion-refresh"			  
			  on-tap="vm.triggerPlay('/images/music/zeko_potocic.mp3', $event);">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Tašun, tašun"
			  imgurl="images/arrowblue.png"
              secondimageclass="ion-refresh"			  
			  on-tap="vm.triggerPlay('/images/music/tasun.mp3', $event);">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Điha, điha konjo"
			  imgurl="images/arrowred.png"			  
			  secondimageclass="ion-refresh"
			  on-tap="vm.triggerPlay('/images/music/djiha.mp3', $event, data)">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Eci peci pec"
			  imgurl="images/arrowblue.png"			  
			  secondimageclass="ion-refresh"
			  on-tap="vm.triggerPlay('/images/music/eci.mp3', $event, data)">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Kad si sretan..."
			  imgurl="images/arrowred.png"			  
			  secondimageclass="ion-refresh"
			  on-tap="vm.triggerPlay('/images/music/kadsi.mp3', $event, data)">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Pačji ples"
			  imgurl="images/arrowblue.png"			  
			  secondimageclass="ion-refresh"
			  on-tap="vm.triggerPlay('/images/music/paciji.mp3', $event, data)">
	    </div>
		<div  class="play-list" 
			  arrow-button 
			  text="Zekini jadi"
			  imgurl="images/arrowred.png"
			  secondimageclass="ion-refresh"
			  on-tap="vm.triggerPlay('/images/music/zekini.mp3', $event, data)">
	    </div>
	</ion-content>
</ion-view>	