<ion-view view-title="Doziranje">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style-products products-dosage-menu" scroll="false">
<div class="details-container">
	<!-- Header -->
<!-- 	<div star-button
		text="NEOFEN"
		bordercolor="rgb(244,171,171)"
		imgurl="images/redstar.png"
		color="rgb(215,0,9)"
		class="product-details-title"
		contentclass = "rotate-header"
	></div> -->
	<div star-button 
	 text="NEOFEN"
	 bordercolor="rgb(244,171,171)"
	 imgurl="images/redstar.png"
	 subimgurl="images/neofencombined.png"
	 color="rgb(215,0,9)"
	 class="product-menu-item"
	 contentclass = "list-button"
	 style="padding-top: 25%;"
	 on-tap="productDosage.navigate('products-dosage-details', 'Neofen')"></div>

	 <div star-button 
	 text="LUPOCET"
	 imgurl="images/starblue.png"
	 subimgurl="images/lupocetcombined.png"
	 class="product-menu-item"
	 contentclass = "list-button"
	 style="padding-top: 5%;"
	 on-tap="productDosage.navigate('products-dosage-details', 'Lupocet')"></div>
</div>
</ion-content>
</ion-view>