<ion-view view-title="Doziranje-Neofen">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style-second products-dosage">
<div class="details-container">
	<div star-button
		text="NEOFEN"
		bordercolor="rgb(244,171,171)"
		imgurl="images/redstar.png"
		color="rgb(215,0,9)"
		class="product-details-title"
		contentclass = "rotate-header"
	></div>
</div>
</ion-content>
</ion-view>