<ion-view view-title="Proizvodi">
<ion-nav-buttons side="left" class="back-button-cont">
<img src="images/back.png"
class="back-button-trigger back-button-image"
on-tap="$ionicGoBack()">
</ion-nav-buttons>
<ion-content class="padding bg-style-products products-details">
<div class="details-container">
	<div star-button
		text="NEOFEN"
		subtext="sirup 100 mg/5 ml"
		bordercolor="rgb(244,171,171)"
		imgurl="images/redstar.png"
		color="rgb(215,0,9)"
		class="product-details-title"
		contentclass = "list-button sirup-img"
	></div>
	<img src="images/neofens.png" class="details-image">
	<p class="details-text-def">
		NEOFEN sirup je nesteroidni
		protuupalni lijek koji snižava
		tjelesnu temperaturu i
		ublažava bol.
	</p>
	<p class="details-text-main">
		Neofen sirup namijenjen je
		za liječenje djece starije od 3
		mjeseca. Mogu ga koristiti i
		odrasli. Namijenjen je za
		kratkotrajnu upotrebu u
		sljedećim slučajevima:
		snižavanje tjelesne temperature
		kod prehlade, gripe i drugijh
		upalnih bolesti; kao reakcija na primljenu vakcinu.
		Ublažavanje blagih do srednje jakih bolova različitog porijekla (glavobolja, uhobolja, grlobolja, zubobolja).
	</p>
	<p class="foos-note">Prije upotrebe pažljivo pročitati uputu o lijeku. Za obavijesti o indikacijama, mjerama opreza i nuspojavama upitajte svog liječnika ili ljekarnika.</p>
</div>
</ion-content>
</ion-view>