
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide' : $root.hideTabs === null || $root.hideTabs}">

  <!-- Hidden SMPC tab -->
   <ion-tab href="#/tab/hidden" ng-show="false" class="tab-smpc">
    <ion-nav-view name="tab-hidden"></ion-nav-view>
  </ion-tab>


  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-me" icon-on="ion-me" href="#/tab/me">
    <ion-nav-view name="tab-aboutme"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="ion-me-work" icon-on="ion-me-work" href="#/tab/myfirst">
    <ion-nav-view name="tab-myfirst"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-info" icon-on="ion-info" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  <!-- Products Tab -->
  <ion-tab icon-off="ion-products" icon-on="ion-products" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-about-me" icon-on="ion-about-me" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-calc" icon-on="ion-calc" href="#/calculator">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-alarm" icon-on="ion-alarm" href="#/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-home" icon-on="ion-home" href="#/test">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

</ion-tabs>
